.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #282c34;
    justify-content: space-around;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
    color: lightgray;
    margin: 10px;
    width: 250px;
}

.navbar {
    margin: 10px;
}

.navItem {
    margin-right: 30px;
}

.signOutButton{
    background-color: inherit;
    color: lightgray;
}

.signOutButton:hover{
    color: lightslategray;
}